IPP-proj1/tests/*
*.zip
zaznamy_21_22/*
*.pdf
projecto-opening/
prezentace
IPP-proj2/.idea/*
*.xml
*.docx
IPP-proj1/test.php
IPP-proj1/options
IPP-proj1/input.ippcode
*.jar
IPP-proj2/ipp-2023-tests/
IPP-proj2/test.php
IPP-proj2/out.html
IPP-proj2/unnecessary_tests/
IPP-proj2/input.in
IPP-proj2/IPP_big_tests/
IPP-proj2/my_out
out.html
